# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

scripts/groq_description_generator.py
scripts/enhanced_product_filler.py
scripts/enhanced_product_filler copy.py


/public/groq_description_generator.py
/public/enhanced_product_filler.py
/public/populate_supabase.py

public/groq_description_generator.py
public/enhanced_product_filler.py
public/populate_supabase.py
public/products.csv
public/populate_supabase.py
public/slug-fixer.py

.env
